name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Build taffy-layout
        working-directory: ./taffy-layout
        run: |
          npm install
          npm run build

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build
        env:
          CLARITY_PROJECT_ID: ${{ secrets.CLARITY_PROJECT_ID }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out
